<!-- app/views/books/_form.html.erb -->
<%= form_with(model: book, local: true) do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.number_field :price, step: 0.01 %>
  </div>

  <div>
    <%= form.label :published_date %><br>
    <%= form.date_field :published_date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
